<div style="padding: 10px;
border: 1px solid;
background: #f18f4870;
font-family: bold;
font-size: 19px;" (click)="showSection()" >
  Sports - 22nd Dec 2018- kalka, Dwarka
</div> 
<div *ngIf=show style="padding-bottom: 25%;padding: 1%;">
 <h1>22nd Dec - Dwarka</h1>
 <div class="main-sec" >
 	<div class="game-section">
 		<h4> <strong>TABLE TENNIS</strong> - <span>Boys </span></h4>
 	</div>
 	<ul class="fixture-model list-group">

 	<li class="fixture list-group-item">
 		<h4 class="group-sec">Group A</h4>
 		 SHAURYA (A-103) vs TIGMANSHU (D-001)
 		<p class="details">12 yrs, 7th std. | 12 yrs, 7th std.</p>	
 	</li>
 	<li class="fixture list-group-item">
 		<h4 class="group-sec">Group B</h4>
 		 BHAVIK (B-002) vs MANAN (D-403)
 		<p class="details">13 yrs, 8th std. | 13 yrs, 8th std.</p>
 	</li>
 	<li class="fixture list-group-item">
 		<h4 class="group-sec">Group C</h4>
 		 SHUBHAM (B-101) vs LAKSHYA (D-602)
 		<p class="details">16 yrs, 9th std. | 15 yrs, 10th std.</p>
 	</li>
 	<li class="fixture list-group-item">
 		<h4 class="group-sec">Group D</h4>
 		 AYAAN (A-102) 
 		<p class="details">10 yrs, 5th std.</p>
 	</li>
 	<div class="semi-final">
 		Semi Final
 	</div>
 		<div class="semi-one"><span>I -</span>Group A vs Group D</div>
 		<div class="semi-two"><span>II -</span>Group B vs Group C</div>
 	<div class="final">
 		Final 		
 	</div>
 	<div class="semi-one">I Winner vs II winner</div>
 	</ul>

</div>
	
<div>

 <div class="game-section">
 	<h4><strong>BADMINTON</strong> - <span>Girls</span></h4>
 </div>
 <ul class="fixture-model list-group">

 	<li class="fixture list-group-item">
 		<h4 class="group-sec">Group A</h4>
 		 SHREYA (D-202) vs NANDINI (C-104)
 		<p class="details">12 yrs, 7th std. | 12 yrs, 7th std.</p>	
 	</li>
 	<li class="fixture list-group-item">
 		<h4 class="group-sec">Group B</h4>
 		 NATASHIKA (D-104) vs VEDA (C-501)
 		<p class="details">12 yrs, 6th std. | 11 yrs, 6th std.</p>
 	</li>
 	<li class="fixture list-group-item">
 		<h4 class="group-sec">Group C</h4>
 		 PRAGNYA (B-101) vs SONA (D-602)
 		<p class="details">11 yrs, 6th std. | 10 yrs, 5th std.</p>
 	</li>
 	<li class="fixture list-group-item">
 		<h4 class="group-sec">Group D</h4>
 		 TAMANA & SAIRA vs OSHI & JAYNEA
 		<p class="details">10 yrs, 5th std.</p>
 	</li>
 	<div class="semi-final">
 		Semi Final
 	</div>
 		<div class="semi-one"><span>I -</span>Group A vs Group D</div>
 		<div class="semi-two"><span>II -</span>Group B vs Group C</div>
 	<div class="final">
 		Final 		
 	</div>
 	<div class="semi-one">I Winner vs II winner</div>
 </ul>

</div>

<div>

 <div class="game-section">
 	<h4><strong>BADMINTON</strong> - <span>Boys(doubles)</span></h4>
 </div>
 <ul class="fixture-model list-group">

 	<li class="fixture list-group-item">
 		<h4 class="group-sec">Qualifier</h4>
 		 QUALIFIER - AYAAN vs KABIR
 		<p class="details">10 yrs, 5th std.</p>
 	</li>

 	<li class="fixture list-group-item">
 		<h4 class="group-sec">Group A</h4>
 		 NEIL & QUALIFIER vs AYYAN & ARAV
 		<p class="details">10 yrs, 5th std.</p>
 	</li>

 	<li class="fixture list-group-item">
 		<h4 class="group-sec">Group B</h4>
 		 SHUBHAM & HARPREET vs AAROHAN & LAKSHYA
 		<p class="details">14 yrs, 10th std. | 12 yrs, 7th std.</p>	
 	</li>
 	<li class="fixture list-group-item">
 		<h4 class="group-sec">Group C</h4>
 		 MANAN & ARJUN vs BHAVIK & RAGHAV
 		<p class="details">12 yrs, 6th std. | 11 yrs, 6th std.</p>
 	</li>
 	<li class="fixture list-group-item">
 		<h4 class="group-sec">Group D</h4>
 		 SHOURYA & TIGMANSHU vs KESHAV & NAMAN
 		<p class="details">11 yrs, 6th std. | 10 yrs, 5th std.</p>
 	</li> 	
 	
 	<div class="semi-final">
 		Semi Final
 	</div>
 		<div class="semi-one"><span>I -</span>Group A vs Group D</div>
 		<div class="semi-two"><span>II -</span>Group B vs Group C</div>
 	<div class="final">
 		Final 		
 	</div>
 	<div class="semi-one">I Winner vs II winner</div>
 </ul>

</div>

<div>

 <div class="game-section">
 	<h4> <strong>Basketball</strong></h4>
 </div>
 <ul class="fixture-model list-group">
 	
 	<div class="group">
 		<span style="color:blue">Group A -</span>
 		SHUBHAM,
 		MANAN,
 		BHAVIK,
 		NAMAN,
 		NANDINI,
 		ARHAAN(OPTIONAL)

 	</div>
 	<div class="group">
 		<span style="color:red">Group B -</span>
 		ROBIN,
 		LAKSHYA,
 		SHAURYA,
 		AYAAN,
 		NATASHIKA,
 		ARHAAN(OPTIONAL)
 	</div>
 	
 	
 	<div class="final">
 		Final 		
 	</div>
 	<li class="fixture list-group-item">
 		  GROUP A vs GROUP B 	
 	</li>
 </ul>

</div>
<div>

 <div class="game-section">
 	<h4> <strong>FOOTBALL</strong></h4>
 </div>
 <ul class="fixture-model list-group">

 	<li class="fixture list-group-item">
 		 GROUP A vs GROUP C 		
 	</li>
 	<li class="fixture list-group-item">
 		 GROUP B vs GROUP D 		
 	</li>
 	<div class="group">
 		<span style="color:blue">Group A -</span>
 		SHUBHAM,
 		MANAN,
 		TIGMANSHU,
 		SHREYAS,
 		AYAAN(A-103),
 		SANVI


 	</div>
 	<div class="group">
 		<span style="color:red">Group B -</span>
 		GATIK,
 		ARJUN,
 		SHAURYA,
 		AYAAN(A - 102),
 		VIREN,
 		SHREYA,


 	</div>
 	<div class="group">
 		<span style="color:green">Group C -</span>
 		LAKSHYA,
 		RAGHAV,
 		KESHAV,
 		NAMAN,
 		ARHAAN,
 		VEDA,

 	</div>
 	<div class="group">
 		<span style="color:purple">Group D -</span>
 		AAROHAN,
 		HARPREET,
 		BHAVIK,
 		PARIKSHIT,
 		KABIR,
 		NANDINI

 	</div>
 	
 	<div class="final">
 		Final 		
 	</div>
 	<li class="fixture list-group-item">
 		 Winner vs Winner 		
 	</li>
 </ul>

</div>
</div>

<!-- social links-->
<div class="social-container">
		<a href="https://www.facebook.com/ektapartyy" class="top-header facebook">
			<i class="fab fa-facebook-f fb-social"></i>
		  </a>
		  <a href="https://twitter.com/ekta_party" class="top-header twitter">
			<i class="fab fa-twitter twitter-social"></i>
		  </a>
		  <a href="https://www.facebook.com/jantaektapary" class="top-header youtube">
			<i class="fab fa-youtube youtube-social"></i>
			
			<!-- fab fa-youtube -->
		  </a>
		  <!-- <a href="https://www.facebook.com/jantaektapary" class="top-header gmail">
			<i class="fas fa-envelope-square social-media"></i>
		  </a>  -->
		</div> 
	  

 