<!-- social links-->
<div class="social-container">
  <a href="https://www.facebook.com/ektapartyy" class="top-header facebook">
      <i class="fab fa-facebook-f fb-social"></i>
    </a>
    <a href="https://twitter.com/ekta_party" class="top-header twitter">
      <i class="fab fa-twitter twitter-social"></i>
    </a>
    <a href="https://www.facebook.com/jantaektapary" class="top-header youtube">
      <i class="fab fa-youtube youtube-social"></i>
      
      <!-- fab fa-youtube -->
    </a>
    <!-- <a href="https://www.facebook.com/jantaektapary" class="top-header gmail">
      <i class="fas fa-envelope-square social-media"></i>
    </a>  -->
  </div> 