<!-- 	<section>
		<article>
			<h4 class="home-section">Janta Munch</h4>
			<details class="details">
				<summary>Garibi kon hatayega</summary>
				<video width="100%" controls>
					<source src="mov_bbb.mp4" alt="content" type="video/mp4">
						<source src="mov_bbb.ogg" alt="content" type="video/ogg">
							Your browser does not support HTML5 video.
				</video>
			</details>	
			<details class="details">		
				<summary>Ekta Kyu Jaroori hai</summary>
				<video width="100%" controls>
					<source src="mov_bbb.mp4" alt="content" type="video/mp4">
						<source src="mov_bbb.ogg" alt="content" type="video/ogg">
							Your browser does not support HTML5 video.
				</video>		
			</details>

		</article>
	</section>


 -->


 <div>
	
	 <app-gallery></app-gallery>
</div>