<!-- <section>
	<article>
		<h4 class="home-section">Replay Corner</h4>
		<details class="details">
			<summary>Treding Post</summary>

			<p>All content and graphics on this web site are the property of the company Refsnes Data.</p>
			<p> - by Refsnes Data. All Rights Reserved.</p>
		</details>
		<details class="details">
			<summary>Guests/Motivatores</summary>

			<p>All content and graphics on this web site are the property of the company Refsnes Data.</p>
			<p> - by Refsnes Data. All Rights Reserved.</p>
		</details>
		<details class="details">
			<summary>Suggestion</summary>

			<p>All content and graphics on this web site are the property of the company Refsnes Data.</p>
			<p> - by Refsnes Data. All Rights Reserved.</p>
		</details>
		<details class="details">
			<summary>Local Issue</summary>

			<p>All content and graphics on this web site are the property of the company Refsnes Data.</p>
			<p> - by Refsnes Data. All Rights Reserved.</p>
		</details>
		
	</article>
	
</section>


 -->

 <footer>
  <!-- <md-toolbar class="md-hue-2 md-scroll-shrink">
    <div layout="row" layout-align="center center" flex> -->
      <p>We can solve our problems by our own !</p>
      <p>अपनी समस्या हम स्वयं खत्म करेंगे !!</p>
  <!--   </div>
  </md-toolbar> -->
</footer>