<div style="    text-align: center;
    background: green;
    color: white;
    border-radius: 0 0 12px 12px;
    margin: 0 32%;" (click)="showIdeology()" >
	Show Ideology
</div>

<div id="myModal" class="modal" *ngIf="dontShow">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" (click)="closeIdeology()">&times;</span>
    <section style="margin-top: 19%;">
	<article>
		<h4 class="home-section">Steps towards Huminity with Unity</h4>
		<details class="details">
			<summary>Copyright 1999-2018.</summary>

			<p>All content and graphics on this web site are the property of the company Refsnes Data.</p>
			<p> - by Refsnes Data. All Rights Reserved.</p>
		</details>
		
	</article>
	<article>
		<h4 class="home-section">Steps towards Huminity with Unity</h4>
		<details class="details">
			<summary>Copyright 1999-2018.</summary>
			
			<p>All content and graphics on this web site are the property of the company Refsnes Data.</p>
			<p> - by Refsnes Data. All Rights Reserved.</p>
		</details>
		
	</article>
	<article>
		<h4 class="home-section">Steps towards Huminity with Unity</h4>
		<details class="details">
			<summary>Copyright 1999-2018.</summary>
			
			<p>All content and graphics on this web site are the property of the company Refsnes Data.</p>
			<p> - by Refsnes Data. All Rights Reserved.</p>
		</details>
		
	</article>
	<article>
		<h4 class="home-section">Steps towards Huminity with Unity</h4>
		<details class="details">
			<summary>Copyright 1999-2018.</summary>
			
			<p>All content and graphics on this web site are the property of the company Refsnes Data.</p>
			<p> - by Refsnes Data. All Rights Reserved.</p>
		</details>
		
	</article>
</section>

  </div>

</div> 

<section *ngIf="dontShow">
	<article>
		<h4 class="home-section">Steps towards Huminity with Unity</h4>
		<details class="details">
			<summary>Copyright 1999-2018.</summary>

			<p>All content and graphics on this web site are the property of the company Refsnes Data.</p>
			<p> - by Refsnes Data. All Rights Reserved.</p>
		</details>
		
	</article>
	<article>
		<h4 class="home-section">Steps towards Huminity with Unity</h4>
		<details class="details">
			<summary>Copyright 1999-2018.</summary>
			
			<p>All content and graphics on this web site are the property of the company Refsnes Data.</p>
			<p> - by Refsnes Data. All Rights Reserved.</p>
		</details>
		
	</article>
	<article>
		<h4 class="home-section">Steps towards Huminity with Unity</h4>
		<details class="details">
			<summary>Copyright 1999-2018.</summary>
			
			<p>All content and graphics on this web site are the property of the company Refsnes Data.</p>
			<p> - by Refsnes Data. All Rights Reserved.</p>
		</details>
		
	</article>
	<article>
		<h4 class="home-section">Steps towards Huminity with Unity</h4>
		<details class="details">
			<summary>Copyright 1999-2018.</summary>
			
			<p>All content and graphics on this web site are the property of the company Refsnes Data.</p>
			<p> - by Refsnes Data. All Rights Reserved.</p>
		</details>
		
	</article>
</section>



	<div>
		<h4 class="home-section align-suggestion" style="width:49%">Janta Suggestions </h4>
		<button class="align-suggestion post-suggestion" (click)="postSuggestion()"	style="width:49%">Post Your Suggestions</button>
	</div>

	<div *ngFor="let suggestion of suggestions" class="suggestion-container">
		<div style="background: lightblue;">						
			<img [src]="[suggestion.social_pic]" style="width : 11%;border-radius: 50%;">
			<span style="font-size: 11px;font-weight: bold;">{{suggestion.social_name}}</span>
			
		</div>
		<div style="width:100%">			
			<div style="font-size: 11px;color: black;font-family: unset;">{{suggestion.suggsestion_description}}</div>
		</div>		
		<div style="border-bottom: 1px solid grey;border-top: 1px solid grey;height: 20px;margin-bottom: 1%;">
		
		</div>
	</div>
		
		
		

