<div>
    <div >
      <h4 class="home-section">Leaders of the Week</h4>
     
            <div class="card leaders" *ngFor="let leader of leadersOfWeek" >
                <img src="/w3images/team2.jpg" alt="image" style="width:100%">
                <h1>{{leader.name}}</h1>
                <p class="title">{{leader.title}}</p>
                <!-- <p>Harvard University</p> -->
                <div style="margin: 24px 0;">
                  <!-- <a href="#"><i class="fa fa-dribbble"></i></a>  -->
                  <!-- <a href="#"><i class="fab fa-twitter"></i></a>   -->
                  <!-- <a href="#"><i class="fa fa-linkedin"></i></a>   -->
                  <a href="#"><i class="fab fa-facebook-f"></i></a> 
               </div>
               <p><button>Contact</button></p>
              </div>
       
      
    </div>
    <div  >
        <h4 class="home-section">Activities</h4>
        <div class="w3-container">
            <h2>Photo Card</h2>
          
            <div class="w3-card-4" style="width:50%">
              <img src="img_snowtops.jpg" alt="Norway" style="width:100%">
              <div class="w3-container w3-center">
                <p>The Italian / Austrian Alps</p>
              </div>
            </div>
          </div>
    </div>
    <div  >
        <h4 class="home-section">Upcoming to do List</h4>
        
       
    </div>
  </div>