.header{
  font-weight: bold ;
}

.key-points{
  font-weight: bold ;
      color: red;
}
.points-eng{
      color: #f35a0e;
    font-weight: bold;
}
.points-hin{
   color: green;
    font-weight: bold;
}















































.notice-links{
  display: inline-block;
  width: 49%;
  margin : auto;
}



.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    /* margin: auto; */
    text-align: center;
    font-family: arial;
    width: 78%;
  }
  
  .title {
    color: grey;
    font-size: 16px;
    margin : 0 ;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }
.notice-setion{
    display: inline-flex ;
}
.leaders{
    display : inline-block ;
    /*margin: 0 10%;*/
    width: 100%;
}
.fab {
    font-family: "Font Awesome 5 Brands";
    font-size: 100%;   
    color : #3162d2 ;
}

/* @media all screen (max-width :500px ){
  .leader{
    width :78% ;
  }
} */
/* @media (min-width: 600px){
  .leader{
    width :78% ;
  }
} */
@media only screen and (max-device-width: 480px) {
  .leader{
    width :78% ;
  }
      }