<div style="text-align: center">
  <h4 class="header" style="color:green;">हम निम्नलिखित चीजों को बढ़ावा देते हैं</h4>
  <h4 class="header" style="color:#f35a0e;">We promote following things:- </h4>
  
  <div>
    <h4 class="key-points" style="color: blue;">Key points:-</h4>
    <h6 class="points-eng">Unity among us</h6>
    <h6 class="points-hin">हमारे बीच एकता</h6>
    <h6 class="points-eng">boost to Indian business</h6>
    <h6 class="points-hin">भारतीय व्यापार को बढ़ावा देना</h6>
    <h6 class="points-eng">Skill Development</h6>
    <h6 class="points-hin">कौशल विकास</h6>
  </div>
  <div style="height: 1px;
    background: green;
    margin: 0 10%;">
  </div>
  <div>
    <h6 style="color:green">एकता के साथ मानवता की ओर एक कदम </h6>    
    <h6 style=" color: #f35a0e;">A step towards humanity with Unity</h6>
     <h6 style="color:green">समानता हासिल करने का प्रयास</h6>    
    <h6 style=" color: #f35a0e;">Attempt to achieve equality</h6>
     <h6 style="color:green">आम समस्या पर ध्यान</h6>    
    <h6 style=" color: #f35a0e;">Attention on common problem</h6>
     <h6 style="color:green">जोड़-तोड़ राजनीति, जाति और धर्म के आधार पर</h6>    
    <h6 style=" color: #f35a0e;">dismissal of manipulation based on cast and religion</h6>
     <h6 style="color:green">भारतीय व्यापार को बढ़ावा देना</h6>    
    <h6 style=" color: #f35a0e;">Local business promotion, motivation to entrepreneurs and elevation to employment</h6>
     <h6 style="color:green">कौशल विकास</h6>    
    <h6 style=" color: #f35a0e;">Promotion to Skill development in all the sectors</h6>
     <h6 style="color:green">मुफ्त शिक्षा</h6>    
    <h6 style=" color: #f35a0e;">Free education </h6>
     <h6 style="color:green">आर्थिक रूप से अविकसित लोगों पर विशेष ध्यान</h6>    
    <h6 style=" color: #f35a0e;">Special attention to economically undeveloped people</h6>
  </div>
</div>

<app-gallery></app-gallery>