<div class="party">
  <div style="background: #d45e07;">  </div>
  <div style="background: white; line-height: 25px;text-align: center;">
    <span style="font-family: monospace;">एकता पार्टी ! Ekta Party !اتحاد پارٹی</span>
  </div>
  <div style="background: green;"></div>
</div>
<div class="d-flex p-1 bg-secondary text-white ">
  <div class="p-1 bg-info flex-fill text-align " [routerLink]="['/home']" [routerLinkActive]="['active-link']">
    <!-- <span class="link" [routerLink]="['/home']" [routerLinkActive]="['active-link']"> -->

      <i class="fas fa-home nav-logo">
        <div style="text-align: center;font-size: 19px;">Home</div>
      </i>
    <!-- </span> -->
  </div>
  <div class="p-1 bg-info flex-fill text-align" [routerLink]="['/activity']" [routerLinkActive]="['active-link']">
    
      <i class="fas fa-info-circle nav-logo">
        <div style="text-align: center;font-size: 19px;">Activity</div>
      </i>
    
  </div>
  <div class="p-1 bg-info flex-fill text-align " [routerLink]="['/gallery']" [routerLinkActive]="['active-link']">
    
      <i class="fas fa-users nav-logo">
        <div style="text-align: center;font-size: 19px;">Gallery</div>
      </i>
    
  </div>
  <div class="p-1 bg-info flex-fill text-align" [routerLink]="['/members']" [routerLinkActive]="['active-link']">
    
      <i class="fas fa-flag-checkered nav-logo">
        <div style="text-align: center;font-size: 19px;">Contact</div>
      </i>
  
  </div>
</div>

<div class="align router-outlet">
  <router-outlet></router-outlet>
</div>
<footer style="margin-top: 20px;" [style.top.px]="deviceHeight">
    <!-- <md-toolbar class="md-hue-2 md-scroll-shrink">
      <div layout="row" layout-align="center center" flex> -->
        <p>We will solve our problems by our own !</p>
        <p>अपनी समस्या हम स्वयं खत्म करेंगे !!</p>
    <!--   </div>
    </md-toolbar> -->
  </footer>