<div style="margin:0 1%;">
  <section class="header-section">
    <img class="logo top-header" src="../assets/logo-icon.jpg">
    <h1 class="logo-heading top-header">Janta Ekta Party</h1>
    
    <a href="https://www.facebook.com/jantaektapary" class="top-header facebook">
      <i class="fab fa-facebook-f social-media"></i>
    </a>
    <a href="https://www.facebook.com/jantaektapary" class="top-header twitter">
      <i class="fab fa-twitter social-media"></i>
    </a>
    <a href="https://www.facebook.com/jantaektapary" class="top-header youtube">
      <i class="fab fa-youtube social-media"></i>
    </a>
    <a href="https://www.facebook.com/jantaektapary" class="top-header gmail">
      <i class="fas fa-envelope-square social-media"></i>
    </a>    
  </section>

  <!-- Nav links -->
  <nav *ngIf="mobile">
   <span class="link" [routerLink]="['/home']" [routerLinkActive]="['active-link']">
    <i class="fas fa-home"></i>            
  </span>

  <span class="link" [routerLink]="['/notice-board']" [routerLinkActive]="['active-link']">
    <i class="fas fa-flag-checkered"></i>            
  </span>
  <span class="link" [routerLink]="['/activity']" [routerLinkActive]="['active-link']">
    <i class="fa fa-balance-scale"></i>            
  </span>
  <span class="link" [routerLink]="['/gallery']" [routerLinkActive]="['active-link']">
    <i class="fa fa-camera"></i>    
  </span>
  <span class="link" [routerLink]="['/members']" [routerLinkActive]="['active-link']">
    <i class="fa fa-users"></i>            
  </span>
</nav>  
<div>
  <ul *ngIf="!mobile">
    <li *ngFor="let link of navLinks" class="link" [routerLink]="[link.path]" [routerLinkActive]="['active-link']">
      {{link.name}}
    </li>
  </ul>

  <div class="align router-outlet">
    <router-outlet></router-outlet>
  </div>
   <!--  <div class="align notice-board" [routerLink]="['/notice-board']">
      <h4 class="notice">Notice board</h4>
      
      <div class="board-links">
        <div style="    text-align: center;
        padding: 5%;">
          Leaders of the Week

        </div>
        <div style="    text-align: center;
        padding: 5%;">
          Activity
        </div>
        <div style="    text-align: center;
        padding: 5%;">
          Upcoming to do List
        </div>
      </div>
    </div> -->
  </div>
  <div class="footer">
    <p>Footer</p>
  </div>

</div>