<div style="margin: 0 3%; padding-bottom: 10%;">
    
  <div *ngFor="let hero of membersData" class="d-flex p-1 m-14">
    <div class="p-1 flex-fill text-align ">
      <img class="member-pic" src={{hero.pic}} />
    </div>
    <div class="p-1 flex-fill text-align ">
      <h5> {{ hero.name }}</h5>
      <a href="tel:{{ hero.phone }}" data-rel="external">
          <button class="btn btn-primary"> Call <i class="fa fa-phone" ></i></button>
          
        </a>
      <h6><span style="color:red"> Origin - </span><strong>{{ hero.place }}</strong></h6>
      <h6><span style="color:green"> Current - </span> <strong>{{ hero.current }}</strong></h6>
      <h6>social links</h6>
    </div>
    <div class="p-1 flex-fill text-align ">
      <h4 class="role">{{ hero.title }}</h4>

    </div>

  </div>
</div>